* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-style: normal;
  direction: rtl;
  box-sizing: border-box;
}

body {
  background-color: #f9fafc;
  margin: 0;
}

.dashboard .side_bar .logo_title .logo img {
  width: 100%;
}

.dashboard .side_bar .logo_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.dashboard .side_bar .logo_title .title h1 {
  margin: 0;
}

.dashboard .side_bar {
  background-color: #ffffff;
  position: fixed;
  padding: 20px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgb(212, 202, 202);
  width: 17%;
}

.dashboard .side_bar .logo_title .logo {
  padding: 11px;
  background-color: #3746e9;
  border-radius: 10px;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  box-sizing: content-box;
  box-shadow: 2px 2px 5px rgb(91, 90, 90) ;
}

.dashboard .side_bar .links_bar .main_links ul ,.dashboard .side_bar .links_bar .speed_links ul{
  list-style: none;
}